[Desktop Entry]
Type=Application
Name=Handle torrent with transmission-daemon
Exec=transmission-remote 9090 -a %U
MimeType=application/x-bittorrent;x-scheme-handler/magnet;

